@{
    Layout = "_Layout";
}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="#page-top">InkWorks</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li class="nav-item"><a class="nav-link" href="#about">Sobre</a></li>
                <li class="nav-item"><a class="nav-link" href="#services">Serviços</a></li>
                <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contacta-nos</a></li>
                <li class="nav-item"><a class="nav-link" asp-controller="Login" asp-action="Index"><i title="Área restrita" class="bi-person-circle"></i></a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- head-->
<header class="masthead" id="page-top">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <h1 class="text-white font-weight-bold">O teu estúdio de Tatuagens em Coimbra</h1>
                <hr class="divider" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 mb-5">Os melhores artistas com atendimento privado de primeira categoria!</p>
                <a class="btn btn-primary btn-xl" href="#about">SABE MAIS</a>
            </div>
        </div>
    </div>
</header>
<!-- Sobre-->
<section class="page-section bg-primary" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Criamos arte única para guardares a vida toda!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Envia-nos uma mensagem!</p>
                <p class="text-white-75 mb-4">Explica o que tens em mente...</p>
                <p class="text-white-75 mb-4"> Serás consultado por um artista profissional e experiente.</p>
                <p class="text-white-75 mb-4"> No nosso estúdio privado atendemos por marcação de forma premium!.</p>
                <p class="text-white-75 mb-4">Não te esqueças: Tatuagem é uma arte que vais levar paraa vida!</p>
                <a class="btn btn-light btn-xl" href="#services">Vamos lá!!</a>
            </div>
        </div>
    </div>
</section>
<!-- Serviços-->
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">Ao teu serviço</h2>
        <hr class="divider" />
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-brush fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Artes Exclusivas</h3>
                    <p class="text-muted mb-0">Os nossos artistas criam com base nas tuas ideias!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi bi-house fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Atendimento privado</h3>
                    <p class="text-muted mb-0">Sente-te em casa! Atendimento exclusivo e premium!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-person-lines-fill fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Artistas experientes</h3>
                    <p class="text-muted mb-0">Máximo de proffisionalismo! Máximo de conhecimento técnico!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">Feito com amor</h3>
                    <p class="text-muted mb-0">Tatuagem é a nossa paixão! Tudo o que é feito om amor carrega boas energias!</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio-->
<div id="portfolio">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://picsum.photos/600/400" title="Project Name">
                    <img class="img-fluid" src="https://picsum.photos/600/400" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://picsum.photos/600/400" title="Project Name">
                    <img class="img-fluid" src="https://picsum.photos/600/400" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://picsum.photos/600/400" title="Project Name">
                    <img class="img-fluid" src="https://picsum.photos/600/400" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://picsum.photos/600/400" title="Project Name">
                    <img class="img-fluid" src="https://picsum.photos/600/400" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://picsum.photos/600/400" title="Project Name">
                    <img class="img-fluid" src="https://picsum.photos/600/400" alt="..." />
                    <div class="portfolio-box-caption">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box" href="https://picsum.photos/600/400" title="Project Name">
                    <img class="img-fluid" src="https://picsum.photos/600/400" alt="..." />
                    <div class="portfolio-box-caption p-3">
                        <div class="project-category text-white-50">Category</div>
                        <div class="project-name">Project Name</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Enviar mensagem-->
<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">Envia-nos uma mensagem!</h2>
                <hr class="divider" />
                <p class="text-muted mb-5">Tens dúvidas? Queres pedir um orçamento? Queres fazer uma marcação? Envia-nos uma mensagem!</p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                    <!-- Nome input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="Nome" type="text" placeholder="Introduz o tue nome..." data-sb-validations="required" />
                        <label for="Nome">Nome completo</label>
                        <div class="invalid-feedback" data-sb-feedback="Nome:required">É necessário introduzir o nome.</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="Email" type="email" placeholder="nome@exemplo.com" data-sb-validations="required,email" />
                        <label for="email">Email</label>
                        <div class="invalid-feedback" data-sb-feedback="Email:required">É necessário introduzir o teu Email.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email inválido.</div>
                    </div>
                    <!-- Telefone input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="Telefone" type="tel" placeholder="999999999" data-sb-validations="required" />
                        <label for="phone">Telefone</label>
                        <div class="invalid-feedback" data-sb-feedback="Telefone:required">É necessário o teu número de telefone.</div>
                    </div>
                    <!-- Mensagem input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="Mensagem" type="text" placeholder="Escreve a tua mensagem..." style="height: 10rem" data-sb-validations="required"></textarea>
                        <label for="message">Mensagem</label>
                        <div class="invalid-feedback" data-sb-feedback="Mensagem:required">Não te esqueças da mensagem!</div>
                    </div>




                    <!-- Submit -->
                    <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Enviar</button></div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>914044259</div>
            </div>
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5"><div class="small text-center text-muted">InkWorks &copy; 2023 - Coded with <i class="bi bi-heart"></i> by João Lapas</div></div>
</footer>