@{
    ViewData["Title"] = "Área Restrita";
}



<div class="text-center">
    <h1 class="display-4">Bem-vindo, <span class="text-success">@ViewBag.Nome</span></h1>
    </br>
    <h4 class="">@DateTime.Now.ToShortDateString()</h4>

    <a class="btn btn-outline-success" asp-controller="Sessoes" asp-action="Index">Ver marcações</a>
    <a class="btn btn-outline-warning" asp-controller="Mensagens" asp-action="Index">Ver Mensagens</a>
</div>
<div id='calendario'></div>




